<div class="menu-container">
  <ul id="focus-menu" class="circle-menu">
    <div class="menu-toggler">
      <input type="checkbox" name="">
      <span></span>
      <span></span>
    </div>
    <span></span>

    <li id="run-focus" class=" action contain-image spaceship-focus-icon">
      <span data-tooltip aria-haspopup="true" class="has-tip tip-top radius" title="Run selected profile Focus task">
          <div class="block"></div>
      </span>
    </li> 

    <li class="contain-image asteroid-focus-icon stop">
      <span data-tooltip aria-haspopup="true" class="has-tip tip-top radius" title="Stop selected profile Focus task">
        <div class="block"></div>
      </span>
    </li> 

    <li class="send-edits contain-image save-icon">
      <span data-tooltip aria-haspopup="true" class="has-tip tip-top radius" title="Save Settings">
        <div class="block"></div>
      </span>
    </li> 

    <li id="run-focus-all" class=" contain-image run-all-focus-icon">
      <span data-tooltip aria-haspopup="true" class="has-tip tip-top radius" title="Run All profiles Focus Tasks">
        <div class="block"></div>
      </span>
    </li> 

    <li class="stop-all contain-image stop-all-focus-icon">
      <span data-tooltip aria-haspopup="true" class="has-tip tip-top radius" title="Stop all profiles Focus Tasks">
        <div class="block"></div>
      </span>
    </li> 

    <li class="clear-session contain-image delete-session-icon">
      <span data-tooltip aria-haspopup="true" class="has-tip tip-top radius" title="Clear selected profile session">
        <div class="block"></div>
      </span>
    </li> 

    <li class="delete contain-image delete-profile-icon">
      <span data-tooltip aria-haspopup="true" class="has-tip tip-top radius" title="Delete selected profile">
        <div class="block"></div>
      </span>
    </li> 

  </ul>
</div>
<script type="text/javascript">
$( document ).ready(function() {
  
    jQuery('#focus-menu').circle_menu({
        angle_initial: -90,
        angle_increment: -25.7,
        radius:160
    });
});

</script>