<!-- NAVBAR .js nel footer -->
<div id="logo-container">
  <div id="logo" class="contain-image"></div>
</div>

<ul id="nav-sections-container">
  <li class="nav-section">
    <a href="#" data-page="dashboard">
      <div class="section-logo contain-image dashboard-icon"></div>
      Dashboard
    </a>
  </li>
  <li class="nav-section">
    <a href="#" data-page="profiles">
      <div class="section-logo contain-image profiles-icon"></div>
      Profiles
    </a>
  </li>
  <li class="nav-section">
    <a href="#" data-page="focus">
      <div class="section-logo contain-image focus-icon"></div>
      Focus
    </a>
  </li>
  <li class="nav-section">
    <a href="#" data-page="images">
      <div class="section-logo contain-image images-icon"></div>
      Images
    </a>
  </li>
  <li class="nav-section">
    <a href="#" data-page="posts">
      <div class="section-logo contain-image posts-icon"></div>
      Posts
    </a>
  </li>
  <li class="nav-section">
    <a href="#" data-page="stories">
      <div class="section-logo contain-image stories-icon"></div>
      Stories
    </a>
  </li>
  <li class="nav-section">
    <a href="#" data-page="stats">
      <div class="section-logo contain-image stats-icon"></div>
      Stats
    </a>
  </li>
  <li class="nav-section">
    <a href="#" data-page="logs">
      <div class="section-logo contain-image logs-icon"></div>
      Logs
    </a>
  </li>
</ul>