

<div class="title-bar">
	
	<div class="title-bar-left">
		<a class="left-off-canvas-toggle" href="#" ></a>

	</div>
	<div class="dragger"></div>
	<div class="title-bar-right">
		<div class="minimize"></div>
		<div class="maximize"></div>
		<div class="close"></div>
	</div>
</div>