.alerts{
	position: fixed;
	overflow-y: auto;
	height: 90vh;
	max-width: 400px;
	width: auto;
	top: 50px;
	right: 20px;
	/* background-color: red; */
	z-index: 4;
	pointer-events: none;
	overflow-x: hidden;
}

.alerts::-webkit-scrollbar {
  width: 7px;
}


.alert{
	pointer-events: all;
	margin: 30px auto;
	width: 95%;
	background-color: #F1EFE4;
	position: relative;
	border-radius: 10px;
	display: flex;

	padding: 15px 15px;

	-webkit-box-shadow: -1px 0px 8px 0px rgba(0,0,0,0.28);
	-moz-box-shadow: -1px 0px 8px 0px rgba(0,0,0,0.28);
	box-shadow: -1px 0px 8px 0px rgba(0,0,0,0.28);

	transform: translateX(120%);

	transition: all .5s;
}

.inview{

	transform: translateX(0%);

}

.alert img{
	margin-top: 10px;
	width: 55px;
	height: 55px;
	border-radius: 5px;
}


.alert .body .title{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 17px;
	color: black;
	padding-left: 10px;
	padding-bottom: 10px;
}
.alert .body .profile{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	color: black;
	padding-left: 10px;
}

.alert .body .content{
	font-size: 15px;
	padding: 10px;
	padding-top: 0;
	color: black;
	max-height: 100px;
	overflow-y: auto;
	word-break: break-all;
	width: 240px;
}

.alert .body .content .external-link{
	font-weight: 700;
	cursor: pointer;
}

.alert .body .content::-webkit-scrollbar {
  width: 5px;
}

.alert .remove{
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 15px;
	color: black;
	cursor: pointer;
	width: 15px;
	height: 15px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-image: url("../img/cross.png");
}

.alert .form{
	display: flex;
	width: 200px;
	align-items: flex-start;
	justify-content: space-around;
}

.alert .form #warning_input_send{
	cursor: pointer;
	margin-left: 1rem;
	width: 60px;
	height: 35px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-image: url("../img/send.png");
}

.alert .form input[type="number"]{
	background-color: white;
}
.alert .form i{
	width: 35px;
	height: 35px;
	border-radius: 50%;
	color: black;
	font-size: 20px;
	text-align: center;
	line-height: 25px;

	margin-left: 10px;
	cursor: pointer;

}


.alert .form .button{
	border-radius: 5px;
	width: 40%;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.alert .form .confirm{
	background-color: #81A448;
}
.alert .form .close{
	background-color: #F76848;
}